<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/user.css">
    <title>Sign Up</title>
</head>
<body>
    <main class="main">
        <% if(message) { %>
            <% if(message.messageType === "SUCCESS") { %>
                <div class="alert alert-success text-center"><%= message.messageContext  %> </div>
            <% } %> 
            <% if(message.messageType === "INFORMATION") { %>
                <div class="alert alert-primary text-center"><%= message.messageContext %> </div>
            <% } %>
            <% if(message.messageType === "ERROR") { %>
                <div class="alert alert-danger text-center"><%= message.messageContext %> </div>
            <% } %>    
            <% } %>
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Sign Up</h1>
                </div>
                <form name="signin" action="/Signup" method="post" class="form">
                    <div class="input-control">
                        <label for="name" class="input-label" hidden>Name</label>
                        <input type="text" name="name" id="email" class="input-field" placeholder="Name">
                    </div>
                    <div class="input-control">
                        <label for="name" class="input-label" hidden>Surname</label>
                        <input type="text" name="surname" id="email" class="input-field" placeholder="Surname">
                    </div>
                    <div class="input-control">
                        <label for="email" class="input-label" hidden>Email Address</label>
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="password" id="password" class="input-field" placeholder="Password">
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password Repeat</label>
                        <input type="password" name="passwordRepeat" id="password" class="input-field" placeholder="Password Repeat">
                    </div>
                    <div class="input-control">
                      
                        <input type="submit" name="submit" class="input-submit" value="Login">
                    </div>
                </form>
                <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-text">Or</span>
                    <span class="striped-line"></span>
                </div>
                <div class="method">
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-google"></i>
                            <span>Sign in with Google</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-facebook"></i>
                            <span>Sign in with Facebook</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-apple"></i>
                            <span>Sign in with Apple</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>